[Unit]
Description=VideoFactory Server
After=network.target

[Service]
Type=simple
User=leo
WorkingDirectory=/mnt/data/project/video_factory/backend
Environment="PATH=/home/leo/.conda/envs/flask_env/bin:/usr/local/bin:/usr/bin:/bin"
Environment="PORT=9002"
Environment="HOST=127.0.0.1"
Environment="ENV=production"
# 直接运行 Python 脚本
ExecStart=/home/leo/.conda/envs/flask_env/bin/python /mnt/data/project/video_factory/backend/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target